@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "@fonts/inter";
@import "@fonts/poppins";
@import "@fonts/roboto";
@import "./root";
@import "./pretty-scrollbar";

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  /* font-family: TTHoves; */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.btnSmall {
  height: 30px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  letter-spacing: 0.02em;
  outline: none;
}

.btnMedium {
  max-width: 220px;
  height: 48px;
  font-size: 16px;
  line-height: 100%;
  font-weight: 600;
  letter-spacing: 0.02em;
  outline: none;
}

.btnSmall *,
.btnMedium * {
  margin: auto;
  width: fit-content;
  height: fit-content;
}
.btnSmall:disabled,
.btnMedium:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.btnBorderGradient {
  border: 2px solid transparent;
  background: linear-gradient(#000024, #000024) padding-box,
    linear-gradient(180deg, #e394e1 0%, #9764f2 50%, #9ae8f3 100%) border-box;
  border-radius: 8px;
  color: white;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.btnBorderOrange {
  border: 2px solid transparent;
  background: linear-gradient(#151532, #151532) padding-box,
    linear-gradient(90deg, #d94c5d 0%, #f29b4b 100%) border-box;
  border-radius: 8px;
  color: #f29b4b;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.btnBorderOrangeDark {
  border: 2px solid transparent;
  background: linear-gradient(#000122, #000122) padding-box,
    linear-gradient(90deg, #d94c5d 0%, #f29b4b 100%) border-box;
  border-radius: 8px;
  color: #f29b4b;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.btnGradientPurple {
  background: linear-gradient(274.23deg, #504fbe 5.63%, #9887f2 100%);
  border-radius: 8px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.btnGradientOrange {
  background: linear-gradient(90deg, #d94c5d 0%, #f29b4b 100%);
  border-radius: 8px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
