.banner {
  // background: url(/src/assets/images/fake-project-banner.png) no-repeat;
  background: url(../../../../assets/images/fake-project-banner.png) no-repeat;
  background-size: contain;
  background-position: top;
}
